*{
  margin: 0;
  padding: 0;
}
 
  /* +++++++++++++++++> */
  /* FOOTER */
  /* +++++++++++*/
 
  

  /* Media queries */


  /* +++++++++++++++++> */
  /* HOME */
  /* +++++++++++ */

  .home__mainContainer {
    
  }
  .home__mainContainer section.home__categoriesContainer {
    display: flex;
    flex-direction: column;
    height: 700px;
    justify-content: space-evenly;
    padding: 2rem;
    width: 80%;
    margin: 4rem auto;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  }
  
  .home__mainContainer section.home__categoriesContainer .home__category--image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
  }
  
  .home__mainContainer
    section.home__categoriesContainer
    .home__category--image
    a {
    
    font-size: 2rem;
    text-transform: uppercase;
    color: rgb(235, 235, 235);
    position: absolute;
    transition: all 0.5s ease-in;
  }
  .home__mainContainer
    section.home__categoriesContainer
    .home__category--image
    a:hover {
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    text-align: center;
    padding: 0.3rem 0;
  }
  
  .home__mainContainer
    section.home__categoriesContainer
    .home__category--image
    .filter {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    transition: background-color 0.5s ease-in-out;
  }

  .home__mainContainer
    section.home__categoriesContainer
    .home__category--image
    .filter:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .home__mainContainer
    section.home__categoriesContainer
    .home__category--image#category__image1 {
    background-image: url("../assets/images/Mujer4.jpg");
    background-size: cover;
  }
  
  .home__mainContainer
    section.home__categoriesContainer
    .home__category--image#category__image2 {
    background-image: url("../assets/images/Urbano1.jpg");
    background-size: cover;
  }
  
  .home__mainContainer
    section.home__categoriesContainer
    .home__category--image#category__image3 {
    background-image: url("../assets/images/Cuero1.jpg");
    background-size: cover;
  }
  /* Media queries */

@media screen and (min-width: 768px) {
  .home__mainContainer section.home__categoriesContainer {
    flex-direction: row;
    height: 300px;
  }
}
  /* +++++++++++++++++> */
  /* FIN HOME */
  /* +++++++++++ */
  
  /* +++++++++++++++++> */
/* SHOP*/
/* +++++++++++ */

.shop__mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.shop__mainContainer h1{
    text-align: center;
}

.shop__mainContainer i{
    font-size: 5rem;
}

/* +++++++++++++++++> */
/* FIN SHOP */
/* +++++++++++ */